@import url('https://fonts.googleapis.com/css2?family=Sirin+Stencil&display=swap');
/*font-family: 'Sirin Stencil', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');
/*font-family: 'Fleur De Leah', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');
/*font-family: 'Passions Conflict', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Ruthie&display=swap');
/*font-family: 'Ruthie', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');
/*font-family: 'Kenia', sans-serif;*/







*{
    margin: 0;
    padding: 0;
}

body {
background-image: url("../img/victorian-18_720.png");


}


.pickgradient {
    /*background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); !* Chrome10+,Safari5.1+ *!*/
    border-radius: 45px;
}

.card {
    border-radius: 200px;
    border: none;
}
.list-group-item {
    border: none;
    background: none;
    text-align: center;

}
.card-image-top{
    opacity: 1;
}


.hero{
    position:relative;
    z-index:-1;
    display:block;
    height: 60vh;
    width: 100%;
    border-radius: 45px;
}
span{
    font-family: sans-serif;
    font-size: 20px;
}

h2 {
    text-align: center;
    font-size: 80px;
    font-weight: bolder;
    color: saddlebrown;
    font-family: 'Fleur De Leah', cursive;
    margin-right: 10px;

}
.navbar {
    color: saddlebrown;
    font-weight: bolder;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.nav-list {
    list-style: none;
    display: flex;
    gap: 50px; /* Adjust the gap as needed */
    padding: 0;
    margin: 0;
}

.navbar-brand,
.nav-list a {
    color: saddlebrown; /* Adjust the color as needed */
    text-decoration: solid;
    font-family: 'Fleur De Leah', cursive;
    font-size: 30px; /* Adjust the font size as needed */
    font-weight: bolder;
}

footer {
    background-color: saddlebrown;
    color: beige;
    font-weight: inherit;
    text-align: center;
    padding: 0;
    bottom: 0;
    width: 100%;
}


@keyframes logoHover {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#logo {
    transition: transform 0.3s;
}

#logo:hover {
    animation: logoHover 2s infinite;
}


.card img:hover{
    animation: logoHover 2s infinite;

}

@media (max-width: 568px) {
    .hero {
        height: 40vh; /* Adjust height for smaller screens */
    }
}


