@import url('https://fonts.googleapis.com/css2?family=Sirin+Stencil&display=swap');




*{
    margin: 0;
    padding: 0;
}

body {
background-image: url("../img/victorian-18_720.png");


}


.hero {
    height: 60vh;
    width: 140vh;
    background-image: url("../img/fall_coffee_shop_720.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h2 {
    text-align: center;
    font-size: 70px;
    font-weight: bolder;
}
.navbar {
    color: saddlebrown;
    font-weight: bolder;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.nav-list {
    list-style: none;
    display: flex;
    gap: 50px; /* Adjust the gap as needed */
    padding: 0;
    margin: 0;
}

.navbar-brand,
.nav-list a {
    color: saddlebrown; /* Adjust the color as needed */
    text-decoration: solid;
    font-size: 20px; /* Adjust the font size as needed */
    font-weight: bolder;
}

@media (max-width: 568px) {
    .hero {
        height: 40vh; /* Adjust height for smaller screens */
    }
}
